*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

.red-border{
    border: 0px solid red;
}
.blue-border{
    border: 0px solid blue;
}
.border--bottom{
    border-bottom: 1px solid #ffffff56;
}
.display--flex{
    display: flex;
}
.flex--direction-col{
    flex-direction: column;
}
.flex--justify-c-center{
    justify-content: center;
}
.flex--align-c-center{
    align-content: center;
}
.flex--align-i-center{
    align-items: center;
}

.justify--self-end{
    justify-self: end;
}
.background--color{
    background-color: #1A1A1A;
}
.section--top-margin{
    margin-top: 4%;
}
.body--background {
    background-image: url("../images/background.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.nav{
    box-shadow: 0px 0px 3px -1px  #cbbdde;
    height: 10vh;
    width: 100%;
    background-color: #1A1A1A;
}
.nav__logo-name{
    height: 100%;
    width: 100%;
}
.nav__div{
    height: 100%;
    width: 90%;
    justify-content: end;
}
.nav__logo{
    width: 60px;
    margin: 2% 4%;
}
.nav__title{
    visibility: hidden;
    color: #dddddd;
    font-size: 2rem;
}

.nav__item{
    text-decoration: none;
    color: #9E9E9E;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 2% 7%;
    height: 70%;
    width: 100px;
}

.nav__item:hover{
    box-shadow: 0 0 5px 2px #353434;
}
.nav__item:active{
    color: #dddddd;
}

.container{
    width: 100%;
    height: 90vh;
    justify-content: space-between;
}
.home{
    margin-top: 15%;
    margin-left: 7%;
}

.home__title{
    color: #dddddd;
    font-size: 4rem;
}

.home__introduction {
    font-family: 'Montserrat', 'sans-serif';
    color: #dddddd;
    font-size: 2rem;
    text-align: start;
    width: 30rem;
    margin-top: 2%;
}

.socials{
    margin-bottom: 3%;
    width: 50vw;
    justify-content: space-around;
    align-items: flex-start;
    
}

.social__icon{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 50px 5px #000000;
}
.social__icon:hover {
    background-color: #735896;
    box-shadow: 0 0px 15px 8px #9883b3
}
.social__icon__image{
    height: 60px;
}
.about__title{
    margin-top: 3%;
    color: #dddddd;
    font-size: 4rem;
}
.about__me{
    color: #dddddd;
    margin: 4% 100px;
    font-size: 1.2rem;
}
.about__me-text{
    padding-bottom: 2%;
}
.location--span{
    color: aqua;
    font-weight: bolder;
}
.education--span{
    color: rgb(255, 0, 187);
    font-weight: bolder;
}
.hobby--card{
    width: 50%;
    margin: 2% 2%;
    box-shadow: 0 0 1px 1px #dddddd;
    border-radius: 10%/20%;
    overflow: hidden;
}
.hobby--image{
    width: 100%;
    height: 100%;
    opacity: 50%;
}
.hobby--image:hover{
    opacity: 100%;
}
.about__work-experience{
    padding-bottom: 1%;
}
.about__work-experience-cards{
    width: 100%;
}

.about--work-card{
    width: 50%;
    margin: 1%;
    padding: 2% 2%;
    box-shadow: 0 0 10px 1px #dddddd4f;
    border-radius: 4%/15%;
    justify-content: space-around;
}
.about--work-card-title{
    font-size: 1.2rem;
    margin: 1%;
}
.about--work-card-content{
    font-size: 1rem;
    padding: 1%;
}
.tech-stack{
    margin-top: 1%;
    width: 100%;
    justify-content: space-around;
}
.tech{
    padding: 1%;
    font-size: 0.9rem;
    font-style: italic;
    border: 2px solid;
    border-image:  linear-gradient(45deg, #353434, rgb(89, 0, 255)) 1;  
    border-radius: 20%/50%;
}   
.about__achivements-list{
    margin: 2%;
}